:root{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #eee;
}
*, ::before, ::after{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	background-color: #709b90;
	font-family: Helvetica, Arial, sans-serif;
}
body * + *{
	margin-top: 1.5em;
}
